* {
    cursor: url(https://cur.cursors-4u.net/games/gam-13/gam1282.cur), auto !important;
}

:root {
    --primary-theme-color: #b12a2a;
    --secondary-theme-color: #ff0000;
    --text-color: #ffd700;
    --shadow-color: #0217ff;
    --button-color: #1e00ff;
    --button-color-active: #fff;
    --button-text-color: #000;
    --primary-highlight: #ffd700;
    --secondary-highlight: #ff0000;
    --padding-section: 2em 0;
    --padding-container: 0 2em;
    --border-radius: 0.5rem;
    --all-transitions: all 0.25s;
    --font-general: font-family: 'Anek Tamil', sans-serif;
  }
  
  
  .body {
    background-image: linear-gradient(to bottom,var(--secondary-highlight),var(--primary-highlight));
    color: var(--text-color);
    min-height:100vh;
    font-family: var(--font-general);
    margin: 0;
  }
.article{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.article__form{
    display: flex;
    gap: 1rem;
    flex-direction: column;
    width: 300PX;
}
.article_subContaider{
    display: flex;
    width: 300PX;
    justify-content: space-between;
}
.article__textarea{
    width: 200px;
}
.article__input{
    width: 200px;
}
.titulo{
    margin: auto;
    padding-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1024px;
}
.titulo__titulo-h{
    font-size: 50px;
    font-family: var(--font-primary);
    padding: 0;
    text-align: center;
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #2b00ff,
    0 0 82px #2b00ff,
    0 0 92px  #2b00ff,
    0 0 102px #2b00ff,
    0 0 151px #2b00ff;
}
.article__form-boton{
    border-radius: 16px;
    height: 3rem;
    background-color: var(--button-color);
    color: var(--primary-highlight);
    font-size: 1.5rem;
    transition: var(--all-transitions);

}
.article__form-boton:hover{
    box-shadow: 0 0 1rem #eeff00;
}
.article__form-boton:active{
    background-color: var(--primary-theme-color);
}
.article__etiqueta{
    font-size: 15px;
    color: var(--text-color);
}
@media (min-width: 854px) {
    .article__etiqueta{
        font-size: 25px;
    }
    .article__form{
        display: flex;
        gap: 1rem;
        flex-direction: column;
        width: 800PX;
    }
    .article_subContaider{
        display: flex;
        width: 800PX;
        justify-content: space-between;
    }
    .article__textarea{
        width: 400px;
    }
    .article__input{
        width: 400px;
    }
  }