* {
    cursor: url(https://cur.cursors-4u.net/games/gam-13/gam1282.cur), auto !important;
}

:root {
    --primary-theme-color: #b12a2a;
    --secondary-theme-color: #ff0000;
    --text-color: #fff;
    --shadow-color: #0217ff;
    --button-color: #1e00ff;
    --button-color-active: #fff;
    --button-text-color: #000;
    --primary-highlight: #ffd700;
    --secondary-highlight: #ff0000;
    --padding-section: 2em 0;
    --padding-container: 0 2em;
    --border-radius: 0.5rem;
    --all-transitions: all 0.25s;
    --font-general: font-family: 'Anek Tamil', sans-serif;
  }
  
  
  .body {
    background-color: var(--secondary-theme-color);
    color: var(--text-color);
    font-family: var(--font-general);
    margin: 0;
  }
  
  .header {
      position: fixed;
      background-color: var(--primary-theme-color);
      top: 0;
      right: 0;
      left: 0;
  }
  
  .header-nav {
    padding: 0.5em 0;
  }
  
  .header-nav__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1024px;
    margin: auto;
    padding: var(--padding-container);
  }
  
  .header-nav__link-logo-container {
    display: flex;
    height: 3rem;
    border-radius: 50%;
    overflow: hidden;
    transition: var(--all-transitions);
  }
  
  .header-nav__link-logo-container:hover {
    box-shadow: 0 0 1rem 0 var(--primary-highlight);
  }

  .header-nav__link-logo {
    height: 100%;
  }
  
  .header-nev__menu-icon-label{
    font-size: 2rem;
    cursor: pointer;
    color: var(--secondary-highlight);
    transition: var(--all-transitions);
  }
  .header-nev__menu-icon-label:hover{
    text-shadow: 0 0 0.25rem var(--primary-highlight),
    0 0 0.5rem var(--primary-highlight);
    
    
  }
  .header-nev__menu-icon-checkbox{
    display: none;
  }
  .header-nev__menu-icon-checkbox:checked+.header-nav__menu-link-list{
    left: 0;
  }
  .header-nav__menu-link-list {
    position: fixed;
    top:4rem;
    /* top: 0; */
    left: 100%;
    width: 100%;
    height: calc(100% - 4rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin: 0;
    padding: 0;
    background-color: var(--shadow-color);
    list-style: none;
    transition: var(--all-transitions);
  }

  .header-nav__menu-link-item {
    display: flex;
  }

  .header-nav__menu-link {
    position: relative;
    color: var(--text-color);
    text-decoration: none;
    font-weight: 300;
    font-weight: bold;
    transition: var(--all-transitions);
  }

  .header-nav__menu-link:hover,
  .header-nav__menu-link--active {
    color: var(--primary-highlight);
  }
  
  .header-nav__menu-link::after{
    content: '';
    left: 0;
    bottom: -0.125rem;
    position: absolute;
    width: 0%;
    height: 0.0625rem;
    background-color: var(--secondary-highlight);
    transition: var(--all-transitions);
  }
  .header-nav__menu-link:hover::after,
  .header-nav__menu-link--active::after {
      width: 100%;
  }

  @media (min-width: 854px) {
    :root{
      --padding-container:0 0.75em;
    }
    .header-nev__menu-icon-label{
      display: none;
    }
    .header-nav__menu-link-list{
      position: static;
      width: auto;
      flex-direction: row;
      gap: 1.5rem;
      list-style: none;
      background-color: transparent;
    }
  }
.article{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}
.titulo{
    margin: auto;
    padding-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1024px;
}
.titulo__titulo-h{
    font-size: 50px;
    font-family: var(--font-primary);
    color: var(--primary-highlight);
    padding: 0;
    text-align: center;
}

.article__table-pokemon{
    width: 400px;
}
.article__table-pokemon-th{
    color: var(--primary-highlight);
    border-bottom: 1px solid #ccc;
}
.article__table-pokemon-td {
    border-bottom: 1px solid #ccc;
    text-align: center;
}
.article__table-pokemon-tr{
    transition: var(--all-transitions);
}
.article__table-pokemon-tr:hover{
    background-color: var(--primary-theme-color);
}

.article__table-imagen{
    width: 40px;
}

@media (min-width: 854px) {
    .article__table-pokemon{
        width: 800px;
    }
    .article__table-imagen{
        width: 80px;
    }
  }